#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#catalogue td {
   width:18%;
}
.marqueHeader{
    padding: 10px 20px;
}

.marqueHeader:hover{
    color:red;
}

#searchbox{
    display : flex;
    flex-direction:column;
}

img{
    max-width: 100%;
	height: auto;
}

li{
    list-style-type: '- ';
}