#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#catalogue td {
   width:18%;
}
#marques{
    padding: 10px 20px;
}

#marques:hover{
    color:red;
}

#searchbar{

}

img{
    max-width: 100%;
	height: auto;
}

li{
    list-style-type: '- ';
}